{
  // Use the AirBnB JS styleguide - https://github.com/airbnb/javascript
  "extends": "airbnb",
  // We use 'babel-eslint' mainly for React Native Classes
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true,
  },
  "globals": {
    "fetch": false
  },
  // We can add/overwrite custom rules here
  rules: {
    // React Native has JSX in JS files
    'react/jsx-filename-extension': ['error', { extensions: ['.js', '.jsx'] }],
    // React Native includes images via require('../images/example.png')
    'global-require': 'off',
    'max-len': ["error", { "code": 80, "ignoreStrings": true }],
    'react/jsx-closing-bracket-location': [1, {selfClosing: 'line-aligned', nonEmpty: 'after-props'}],
    'react/destructuring-assignment': [<enabled>, "always", { "ignoreClassFields": <boolean> }],
    'react/prop-types': [<enabled>, { ignore: <ignore>, customValidators: <customValidator> }],
    'object-curly-spacing': ["error", "never"],
    "react/prefer-stateless-function": [<enabled>, { "ignorePureComponents": <ignorePureComponents> }],
    "react/no-array-index-key": false
  },
}
